body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    display: grid;
    grid-template-columns: auto-fit;
    grid-template-rows: auto-fit;
    max-width: 350px;
    height: 500px;
    background-color: white;border-radius: 10px;
    margin: 20px;
}

.container .QR-code{
    grid-area: QR-code;
    margin: 20px 20px 5px 20px;
}

.container .QR-code img{
    width: 100%;
    height: 290px;
    border-radius: 10px;
}
.Informação-destaque{
    grid-area: informação-destaque;
    font-size: 24px;
    margin: 5px 18px 0 18px;
    text-align: center ;
    color: hsl(218, 44%, 22%);
}

.informação{
    grid-area: informação;
    margin: 10px 20px 35px 20px;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

.container{
    grid-template-areas: 
        "QR-code"
        "QR-code"
        "QR-code"
        "informação-destaque"
        "informação"
    ;
}